
@{
    ViewBag.Title = "All";
}

<script src="~/Scripts/angular.min.js"></script>

<div ng-app="service-app" ng-controller="appCtrl" style="margin-top:50px">
    <div class="container">
        <a class="btn btn-info" href="/SalaryGen/Salary">Back to individual view</a>
        <a class="btn btn-info" ng-click="confirm()">Confirm All</a><br />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><a class="btn btn-info" ng-click="update()">Update</a></div>
            <div class="col-md-6"><input type="text" style="float:right" ng-model="search" /></div>
        </div>
    </div>
    <div class="container" style="overflow:scroll; margin-top:20px; max-height:1000px">
        <div class="row" >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th ng-repeat="(key, value) in salaries[0]">
                            {{key}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="salary in salaries | filter: search">
                        <td ng-repeat="(key, value) in salary">
                            <input ng-model="salary[key]">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <script src="~/Scripts/controller/sallarySheet.js"></script>
    <script src="~/Scripts/service/baseService.js"></script>
</div>




