@{
    ViewBag.Title = "Salaries";
}

<script src="~/Scripts/angular.min.js"></script>

<div ng-app="service-app" ng-controller="appCtrl" style="margin-top:50px">
    <div class="container">
        <div class="row">
            <a class="btn button3" href="/SalaryGen/All">Show All</a><br/>
            <div class="col-md-2 spandn">
                <span>Select Employee</span>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-change="selected()" ng-model="selectedEmployee">
                    <option ng-repeat="salary in salaries" value="salary">{{salary.Name}} ({{salary.IdNo}})</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="btn button1" ng-click="previous()">Prev</a>
            </div>
            <div class="col-md-3">
                <a class="btn button1" style="float:right" href="/SalaryGen/Individal/{{salary.SerialNo}}">Print</a>
            </div>
            <div class="col-md-3">
                <a class="btn button1" ng-click="update()">Save</a>
            </div>
            <div class="col-md-3">
                <a class="btn button1" style="float:right" ng-click="next()">Next</a>
            </div>
        </div>
        
    </div>
    <div class="container" style="overflow-y:scroll; margin-top:20px; max-height:600px">
        <div class="row">
            <table class="table table-bordered">
                <tr ng-repeat="(key, value) in salary">
                    <td>{{key}}</td>
                    <td><input ng-model="salary[key]" class="form-control"/></td>
                </tr>
            </table>
        </div>

    </div>

    <script src="~/Scripts/controller/individualUpdate.js"></script>
    <script src="~/Scripts/service/baseService.js"></script>
</div>




