body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navlist li {
    display:inline;
    margin-right: 10px;
    list-style-type: none;
}

.navlist li a {
    color: white !important;
    list-style-type: none;
}

.navlist{
    list-style-type: none;
}

.submenudd {
    list-style-type: none;
}

.submenudd li a {
    color: black !important;
    text-align:center;
    list-style-type: none;
}

.navlist {
    margin-top: 15px;
    font-size: 16px;
}

.newnavst {
    background-color: #18572A !important;
    border-color: #18572A !important;
}
